    body {
        background-color: lightblue;
        font-family: "Source Sans Pro";
    }
    
    h1 {
        color: white;
        text-align: center;
        font-family: "Source Sans Pro";
    }

    p {
        font-family: "Source Sans Pro";
        font-size: 20px;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        font-family:Source Sans Pro";
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family:Source Sans Pro";
    }

    li a:hover {
        background-color: #111;
    }

    .help {
        color: white;
        background-color: #666;
        border-radius: 10px;
        display: none;
        opacity: 1.0;
        padding: 10px;
        z-index: 100;
    }

    .help_link:hover + span {
        display: inline;
        position: absolute;
    }